
{% extends 'tutti/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About us
{% endblock %}

{% block custom_css %}<link rel="stylesheet" type="text/css" href="{% static 'CSS/about.css' %}" />{% endblock custom_css %}



{% block body_block %}
<div class="emerge">
    <img src="../../media/table-gaea088920_1920.jpg" alt="image123">
    <h1>About us</h1>
    </div>
<div class="about-container">
    <!-- About our header area -->
    <!-- About us content area start -->
    <div class="about-content">
        <!-- Text description section -->
        <div class="about-text">
            <h2>FAMILY OWNED SINCE 1977</h2>
            <p>Peter is the true inspiration and beating heart of our restaurant, having grown up in the Italian countryside of Bologna, his love of pizza making stemming from helping his grandfather with his pizzeria. in 1977, at the age of 18, with big dreams and an entrepreneurial spirit, Pete left Italy to open Tutti's Pizzeria in Canary Wharf, London. Through sheer dedication and hard work, he expanded the store and won awards for the deliciousness of his Margherita pizzas.
            </p>
        </div>
        <!-- Photo Gallery section -->
        <div class="about-image">
            <img src="../../media/restaurant-g7dcf2c8c8_1920.jpg" alt="image123">
        </div>
    </div>
    <div class="about-content">
           <!-- Text description section -->
        <div class="about-text">
            <h2>Living our values every day</h2>
            <p>We work constantly as a team, always supporting each other and using our initiative to make you feel plus general warmth. Everything we do is prepared with care - from team training, dish preparation, choice of dining environment and more.</p>
        </div>
        <!-- Photo Gallery section -->
        <div class="about-image">
            <img src="../../media/restaurant-g96bd3d8df_1920.jpg" alt="image456">
        </div>
    </div>
</div>
    <script>

        window.addEventListener('scroll', function () {

            const animatedElements = document.querySelectorAll('.about-text, .about-image');


            animatedElements.forEach(function (element) {

                const position = element.getBoundingClientRect();


                if (position.top >= 0 && position.bottom <= window.innerHeight) {

                    element.classList.add('visible');
                } else {

                    element.classList.remove('visible');
                }
            });
        });
    </script>
{% endblock body_block %}