{% extends 'tutti/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Book an appointment
{% endblock %}

{% block body_block %}
<h1>Confirmation</h1>
<div>
    <div class="card completed_card">
        <div class="card-body py-1">
            <h5 class="card-title">Time</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">{{ chosen_time }}</h6>
        </div>
    </div>
    <div class="card completed_card">
        <div class="card-body py-1">
            <h5 class="card-title">Date</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">{{ chosen_date }}</h6>
        </div>
    </div>
    <div class="card completed_card">
        <div class="card-body py-1">
            <h5 class="card-title">Name</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">{{ user_name }}</h6>
        </div>
    </div>
    <div class="card completed_card">
        <div class="card-body py-1">
            <h5 class="card-title">Email</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">{{ user_email }}</h6>
        </div>
    </div>
    <div class="card completed_card">
        <div class="card-body py-1">
            <h5 class="card-title">Phone Number</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">{{ user_phone_number }}</h6>
        </div>
    </div>
    <div class="card completed_card">
        <div class="card-body py-1">
            <h5 class="card-title">Address</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">{{ user_address }}</h6>
        </div>
    </div>
    <div class="card completed_card">
        <div class="card-body py-1">
            <h5 class="card-title">Notes</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">{{ notes }}</h6>
        </div>
    </div>
</div>
<div>
    <div class="container text-center mt-3">
        <a class="btn btn-success" href="{% url 'tutti:booking_completed' %}">Confirm</a>
        <a class="btn btn-success" href="{% url 'tutti:index' %}">Cancel</a>
    </div>
</div>
{% endblock body_block %}