<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book an appointment</title>
</head>
<body>

<h1>Enter the number of people</h1>
<div>
    {% comment %} Selection of data time for booking
    <label for="datetime-select">Select a date & time:</label>
    <select name="Month" id="month-select">
        <option value="">--Please choose month--</option>
    {% for month in months %}
        <option value={{ month }}><td>{{ month }}</td></option>
    {% endfor %}
    </select>
    <select name="Day" id="day-select">
        <option value="">--Please choose day--</option>
    {% for day in days %}
        <option value={{ day }}><td>{{ day }}</td></option>
    {% endfor %}
    </select>
    <select name="Time" id="time-select">
        <option value="">--Please choose time--</option>
    {% for time in times %}
        <option value={{ time }}><td>{{ time }}</td></option>
    {% endfor %}
    </select> {% endcomment %}

    <div>
        <form id="num_people_form" method="post" action="/tutti/booking/">
            {% csrf_token %}
            {% comment %} {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %} {% endcomment %}
            {{ form }}
            <input type="submit" name="submit" value="Next" />
        </form>
    </div>
</div>
</body>
</html>