{% extends 'tutti/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<div id="landing_page_jumbotron_id" class="jumbotron p-8">
    <div class="container">
        <div class="text-center">
      <h1 id="landing_page_jumbotron_title_id" class="jumbotron-heading mb-5 display-4"><strong>Book Your Appointment Today!  {% if user.is_authenticated %}{{ user.username }}{% endif %}</strong></h1>
      <a class="btn btn-success btn-lg" href="{% url 'tutti:booking_num_people' %}">Book Now</a>
    </div>
</div>


{% endblock %}
