<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tuitti Pizza Reservation System</title>
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
</head>
<body>
<br>
<div class="layui-fluid">
    <div class="layui-row layui-col-space5">
        <!-- <div class="layui-col-md6 layui-col-md-offset3">
            <h1 style="text-align: center">Tuitti Pizza Reservation System</h1>
        </div>
        <div class="layui-col-md3" style="text-align: center;font: bold;">
            <a href="/login">Login</a>
        </div>
        <div class="layui-col-md4 layui-col-md-offset4">
            <div class="layui-fluid">
                <div class="layui-row layui-col-space5">
                    <div class="layui-col-md4" style="align-content: center">
                        <a class="layui-btn layui-btn-primary layui-btn-fluid">Menu</a>
                    </div>
                    <div class="layui-col-md4">
                        <a class="layui-btn layui-btn-primary layui-btn-fluid">About</a>
                    </div>
                    <div class="layui-col-md4">
                        <a class="layui-btn layui-btn-normal layui-btn-fluid">Reviews</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md1 layui-col-md-offset2">
            <input class="layui-btn layui-btn-fluid" type="button" value="My Booking"/>
        </div>
        <hr> -->
        <div class="layui-col-md6 layui-col-md-offset3">
            <h1 style="text-align: center">Reviews</h1>
        </div>
        {% for review in reviews %}
            <div class="layui-col-md6 layui-col-md-offset3">
                <fieldset class="layui-elem-field">
                    <legend>{{ review.user.user.username }}
                        {% for rate in 5|range_ %}
                            {% if rate < review.rating %}
                                <i class="layui-icon layui-icon-star-fill"></i>
                            {% else %}
                                <i class="layui-icon layui-icon-star"></i>
                            {% endif %}
                        {% endfor %}
                    </legend>
                    <div class="layui-field-box">
                        {{ review.description }}
                    </div>
                </fieldset>
            </div>
        {% endfor %}
        <div class="layui-col-md1 layui-col-md-offset8">
            <input class="layui-btn layui-btn-fluid" type="button" value="Add Review" onclick="onAddReviewClick()"/>
        </div>
    </div>
</div>
</body>
<div>
    
</div>

<script>
   
</script>
</html>