{% extends "tutti/base.html" %}
{% load staticfiles %}
{% block title_block %}
Tuitti Pizza Reservation Syste
{% endblock %}
{% block body_block %}
<div class="layui-fluid">
    <div class="layui-col-md6 layui-col-md-offset3">
        <h1 style="text-align: center">Reviews</h1>
    </div>
    {% for review in reviews %}
        <div class="layui-col-md6 layui-col-md-offset3">
            <fieldset class="layui-elem-field review-div">
                <div>
                    <legend>{{ review.user.user.username }}
                        {% for rate in 5|range_ %}
                            {% if rate < review.rating %}
                                <i class="layui-icon layui-icon-star-fill review_star"></i>
                            {% else %}
                                <i class="layui-icon layui-icon-star review_star"></i>
                            {% endif %}
                        {% endfor %}
                    </legend>
                </div>
                <div class="layui-field-box" style="text-align: justify;">
                    {{ review.description }}
                </div>
            </fieldset>
        </div>
    {% endfor %}
    <div class="layui-col-md1 layui-col-md-offset8">
        <input class="layui-btn layui-btn-fluid" type="button" value="Add Review" onclick="onAddReviewClick()"/>
    </div>
</div>
<br>
{% endblock %}
{% block js %}
<div id="add_review" style="display: none">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">Rate</label>
            <div id="star"></div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">Description</label>
            <div class="layui-input-inline">
                <textarea id="description" name="description" placeholder="Please input your description"
                          class="layui-textarea"
                          style="width: 400px"></textarea>
            </div>
        </div>
    </form>
</div>
    <script src="{% static 'js/review.js' %}"></script>
{% endblock %}